{% extends 'base.html' %}

{% block title %}About{% endblock title %}


{% block body %}
    <section class="text-white bg-gradient-to-r from-violet-500 to-fuchsia-600 body-font">
        <div class="container px-5 py-10 mx-auto lg:pt-24 lg:pb-16">
          <div class="xl:w-1/2 lg:w-3/4 w-full mx-auto text-center animate__animated animate__fadeIn animate__slow">
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="inline-block w-8 h-8 text-white mb-8" viewBox="0 0 975.036 975.036">
              <path d="M925.036 57.197h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.399 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l36 76c11.6 24.399 40.3 35.1 65.1 24.399 66.2-28.6 122.101-64.8 167.7-108.8 55.601-53.7 93.7-114.3 114.3-181.9 20.601-67.6 30.9-159.8 30.9-276.8v-239c0-27.599-22.401-50-50-50zM106.036 913.497c65.4-28.5 121-64.699 166.9-108.6 56.1-53.7 94.4-114.1 115-181.2 20.6-67.1 30.899-159.6 30.899-277.5v-239c0-27.6-22.399-50-50-50h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.4 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l35.9 75.8c11.601 24.399 40.501 35.2 65.301 24.399z"></path>
            </svg>
            <p class="leading-relaxed text-sm opacity-75 hover:opacity-100 lg:text-lg">Know, O mortals, that I, Athena, the wise goddess born of the mighty Zeus, embody the virtues that inspire greatness within you. In the depths of my wisdom lies the power to discern truth from falsehood, to navigate the complexities of life with clarity and grace. I am the guardian of knowledge, the beacon of insight, and the steadfast ally to those who seek enlightenment. But let it be known that my influence extends far beyond the realm of conflict. I am the patron of arts and crafts, the muse who ignites creativity and nurtures the brilliance of human endeavors. I am the voice of reason, the advocate for justice, and the guardian of civilization. Embrace my wisdom, heed my counsel, and let the light of Athena illuminate your path to greatness.</p>
            <span class="inline-block h-1 w-10 rounded bg-white mt-8 mb-6"></span>
            <h2 class="text-white font-medium title-font tracking-wider text-sm lg:text-lg">ATHENA</h2>
            <p class="text-white">Greek Goddess of Wisdom</p>
          </div>
        </div>
      
    </section>

    <section class="text-gray-600 body-font">
        <div class="container px-5 py-24 mx-auto">
          <div class="flex flex-col text-center w-full mb-20">
            <h2 class="text-xs text-purple-500 tracking-widest font-medium title-font mb-1">ABOUT US</h2>
            <h1 class="sm:text-4xl text-3xl font-medium title-font mb-4 text-purple-800">What are We?</h1>
            <p class="lg:w-2/3 mx-auto leading-relaxed text-base xl:text-lg">A vibrant online learning community that connects students from diverse backgrounds. Our platform offers curated courses, collaborative study groups, and a wealth of resources to empower students in their educational pursuits. Join us to unleash your full academic potential and thrive in a supportive and enriching environment.</p>
          </div>
          <hr class="border-purple-400 mb-12">
          <div class="flex flex-wrap justify-between">
            <div class="xl:w-1/4 lg:w-1/2 md:w-full px-8 py-6 ">
              <h2 class="text-lg sm:text-xl text-purple-500 font-medium title-font mb-2">A Dynamic Learning Community</h2>
              <p class="leading-relaxed text-base mb-4">Join our diverse community and engage in collaborative learning experiences that foster growth and empower academic success.</p>
              
            </div>
            <div class="xl:w-1/4 lg:w-1/2 md:w-full px-8 py-6 ">
              <h2 class="text-lg sm:text-xl text-purple-500 font-medium title-font mb-2">Curated Courses for Excellence</h2>
              <p class="leading-relaxed text-base mb-4">Explore our comprehensive range of subjects and embark on a journey of knowledge acquisition led by expert educators passionate about delivering transformative learning experiences.</p>
              
            </div>
            <div class="xl:w-1/4 lg:w-1/2 md:w-full px-8 py-6 ">
              <h2 class="text-lg sm:text-xl text-purple-500 font-medium title-font mb-2">Collaborative Study Groups</h2>
              <p class="leading-relaxed text-base mb-4">Engage in meaningful conversations, share insights, and experience the power of collective learning, fueling your educational journey.</p>
              
            </div>
            <div class="xl:w-1/4 lg:w-1/2 md:w-full px-8 py-6 ">
                <h2 class="text-lg sm:text-xl text-purple-500 font-medium title-font mb-2">Empowering Your Academic Journey</h2>
                <p class="leading-relaxed text-base mb-4">With Athenas, you can overcome challenges, embrace new opportunities, and thrive in a supportive and dynamic educational ecosystem.</p>
                
              </div>
          </div>
        </div>
      </section>

{% endblock body %}






</body>

</html>