{% extends 'base.html' %}
{% block title %}Notes{% endblock title %}

{% block body %}
<section>
    <div class="flex flex-col md:text-center px-10 py-10 w-full sm:mb-20">
        <h1 class="sm:text-4xl text-3xl font-medium title-font mb-4 text-purple-800">Behold, the Notes Dungeon</h1>
        <p class="lg:w-2/3 mx-auto leading-relaxed text-base xl:text-lg">A place where students demonstrate the highest form of support and assitance. It is a mutual relationship between students from worldwide universities. Learn together, and embrace this learning path. "I help you, you help me."</p>
      </div>
</section>

<section class="bg-gradient-to-r from-violet-500 to-fuchsia-600 py-24">
    <div class="px-10 py-10 text-white mb-20">
        <h1 class="font-semibold sm:text-4xl text-2xl mb-2">Explore latest notes</h1>
        <p class="w-full">Make sure not to infringe any copyright on your actions. Remember to respect other people's contribution.</p>
    </div>

    <div class="flex flex-wrap px-4 md:px-10 ">
        <a class="lg:w-1/4 md:w-1/2 p-4 ">
          <div class="border-purple-500 border-r-2 border-b-2 p-6 bg-white rounded-lg hover:border-0">
            <img class="h-40 rounded w-full object-cover object-center mb-6" src="/static/note1.jpeg" alt="content">
            <h3 class="tracking-widest text-purple-500 text-xs font-medium title-font">STANFORD UNIVERSITY</h3>
            <h2 class="text-lg text-gray-900 font-medium title-font mb-4">Upcoming Trends in speech</h2>
            <p class="leading-relaxed text-base lg:text-sm xl:text-lg">My notes on tech seminar by Google CEO, Sundar Pichai, on December 2022.</p>
          </div>
        </a>
        <a class="lg:w-1/4 md:w-1/2 p-4">
          <div class="border-purple-500 border-r-2 border-b-2 p-6 bg-white rounded-lg hover:border-0">
            <img class="h-40 rounded w-full object-cover object-center mb-6" src="/static/note2.jpeg" alt="content">
            <h3 class="tracking-widest text-purple-500 text-xs font-medium title-font">HARVARD BUSINESS SCHOOL</h3>
            <h2 class="text-lg text-gray-900 font-medium title-font mb-4">Employee Transcript - Mr. Xaviers</h2>
            <p class="leading-relaxed text-base lg:text-sm xl:text-lg">Got to know about hr values and work, by Prof. Xaviers. Hope it helps you too. Enjoy</p>
          </div>
        </a>
        <a class="lg:w-1/4 md:w-1/2 p-4">
            <div class="border-purple-500 border-r-2 border-b-2 p-6 bg-white rounded-lg hover:border-0">
              <img class="h-40 rounded w-full object-cover object-center mb-6" src="/static/note4.jpeg" alt="content">
              <h3 class="tracking-widest text-purple-500 text-xs font-medium title-font">IISC BANGALORE</h3>
              <h2 class="text-lg text-gray-900 font-medium title-font mb-4">Diffraction: Rajiv sir</h2>
              <p class="leading-relaxed text-base lg:text-sm xl:text-lg">This discusses all about Diffraction and its principles. Sorry for the bad handwriting :p</p>
            </div>
        </a>
        <a class="lg:w-1/4 md:w-1/2 p-4">
            <div class="border-purple-500 border-r-2 border-b-2 p-6 bg-white rounded-lg hover:border-0">
              <img class="h-40 rounded w-full object-cover object-center mb-6" src="/static/note4.jpeg" alt="content">
              <h3 class="tracking-widest text-purple-500 text-xs font-medium title-font">UNIVERSITY OF FRANKFURT</h3>
              <h2 class="text-lg text-gray-900 font-medium title-font mb-4">Seminar notes</h2>
              <p class="leading-relaxed text-base lg:text-sm xl:text-lg">notes on anthropology seminar that happened in my uni, during the fall semester.</p>
            </div>
        </a>
        <a class="lg:w-1/4 md:w-1/2 p-4">
            <div class="border-purple-500 border-r-2 border-b-2 p-6 bg-white rounded-lg hover:border-0">
              <img class="h-40 rounded w-full object-cover object-center mb-6" src="/static/note4.jpeg" alt="content">
              <h3 class="tracking-widest text-purple-500 text-xs font-medium title-font">OXFORD SCHOOL OF ARTS</h3>
              <h2 class="text-lg text-gray-900 font-medium title-font mb-4">The sound of Music</h2>
              <p class="leading-relaxed text-base lg:text-sm xl:text-lg">Handwritten notes on the different staches of music, includes pre-renaissance era as well. Enjoy :)</p>
            </div>
        </a>
        <a class="lg:w-1/4 md:w-1/2 p-4">
          <div class="border-purple-500 border-r-2 border-b-2 p-6 bg-white rounded-lg hover:border-0">
            <img class="h-40 rounded w-full object-cover object-center mb-6" src="/static/note4.jpeg" alt="content">
            <h3 class="tracking-widest text-purple-500 text-xs font-medium title-font">IIM CALCUTTA</h3>
            <h2 class="text-lg text-gray-900 font-medium title-font mb-4">Interview Tips by Sachin sir</h2>
            <p class="leading-relaxed text-base lg:text-sm xl:text-lg">Noted these tips while attending renowned Mr. Sachin Rastogi's class at my college.</p>
          </div>
        </a>
        <a class="lg:w-1/4 md:w-1/2 p-4">
            <div class="border-purple-500 border-r-2 border-b-2 p-6 bg-white rounded-lg hover:border-0">
              <img class="h-40 rounded w-full object-cover object-center mb-6" src="/static/note4.jpeg" alt="content">
              <h3 class="tracking-widest text-purple-500 text-xs font-medium title-font">NATIONAL UNIVERSITY OF SINGAPORE</h3>
              <h2 class="text-lg text-gray-900 font-medium title-font mb-4">Configuring NodeJS</h2>
              <p class="leading-relaxed text-base lg:text-sm xl:text-lg">My personal approach on configuring noteJS on windows, Mac, Linux</p>
            </div>
        </a>
        <a class="lg:w-1/4 md:w-1/2 p-4 ">
            <div class="border-purple-500 border-r-2 border-b-2 p-6 bg-white rounded-lg hover:border-0">
              <img class="h-40 rounded w-full object-cover object-center mb-6" src="/static/note4.jpeg" alt="content">
              <h3 class="tracking-widest text-purple-500 text-xs font-medium title-font">IEM KOLKATA</h3>
              <h2 class="text-lg text-gray-900 font-medium title-font mb-4">All about Torsion</h2>
              <p class="leading-relaxed text-base lg:text-sm xl:text-lg">Handwritten notes about torsion, as taught on the summer classes by gc sir</p>
            </div>
        </a>
      </div>
</section>

<section>
  <div class="py-24 px-10 md:py-10 w-full sm:mb-20">
      <h1 class="sm:text-4xl text-3xl font-medium text-center title-font mb-8 text-purple-800">Contribute your notes</h1>
      <p class="leading-relaxed text-center mx-auto">At Athenas, we foster a global community of learning and collaboration. We encourage you to share your valuable notes and knowledge with fellow students around the world. By contributing your notes, you have the opportunity to make a meaningful impact on someone's educational journey, regardless of their location. Your notes could be the missing piece to help a student excel in their studies.</p>
    </div>
    <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
      <div class="container px-5 space-y-10 py-10 mx-auto">
          <div class="flex items-center lg:w-3/5 xl:w-full mx-auto border-b pb-10 mb-10 border-purple-400 sm:flex-row flex-col">

            <div class="flex-grow sm:text-left text-center mt-6 sm:mt-0">
              <h2 class="text-purple-700 text-lg title-font  mb-2 xl:text-2xl">How do I contribute my notes?</h2>
              <p class="leading-relaxed text-base">Simply reach out to us via email at <a href="/contact" class="text-purple-600 font-medium">support@athenas.com</a>. Our dedicated team will guide you through the process and ensure that your valuable notes are shared with students worldwide.</p>
            </div>
          </div>
          <div class="flex items-center lg:w-3/5 xl:w-full mx-auto border-b pb-10 mb-10 border-purple-400 sm:flex-row flex-col">
            <div class="flex-grow sm:text-left text-center mt-6 sm:mt-0">
              <h2 class="text-purple-700 text-lg title-font mb-2 xl:text-2xl">What details should I include?</h2>
              <p class="leading-relaxed text-base">When submitting your notes, please make sure to include essential details such as the topic or subject matter, a brief description of the content, the date of creation, and most importantly, your name as the author. These details will help us organize and categorize the notes effectively, ensuring that they reach the right students seeking valuable resources.</p>
              
            </div>
            
          </div>
          <div class="flex items-center lg:w-3/5 xl:w-full mx-auto border-b pb-10 mb-10 border-purple-400 sm:flex-row flex-col">
            
            <div class="flex-grow sm:text-left text-center mt-6 sm:mt-0">
              <h2 class="text-purple-700 text-lg title-font  mb-2 xl:text-2xl">Will I get the credit?</h2>
              <p class="leading-relaxed text-base">Absolutely! We value your contributions, and you will receive full credit for the notes you provide. Your name will be acknowledged as the author of the notes, ensuring that your efforts and expertise are recognized within our community. We appreciate your dedication in sharing your knowledge to benefit students worldwide.</p>
              
            </div>
          </div>
          <div class="flex items-center lg:w-3/5 xl:w-full mx-auto border-b pb-10 mb-10 border-purple-400 sm:flex-row flex-col">
              <div class="flex-grow sm:text-left text-center mt-6 sm:mt-0">
                <h2 class="text-purple-700 text-lg title-font mb-2 xl:text-2xl">What if I wanna update/delete my notes?</h2>
                <p class="leading-relaxed text-base ">Simply send us a message detailing the changes or deletion request, and our team will assist you promptly. We'll make the necessary updates or remove the notes as per your instructions and keep you informed about the status of your request. Your satisfaction is our priority, and we are here to accommodate any necessary modifications to ensure the accuracy and quality of the shared resources.</p>
                
              </div>
              
          </div>
  </div>
</section>
{% endblock body %}