{% extends 'base.html' %}
{% block title %}Resources{% endblock title %}

{% block body %}
    <section class="bg-gradient-to-r from-violet-500 to-fuchsia-500 text-white py-24 px-9 md:py-36 xl:py-48">
            <div class="space-y-4 w-fit animate__animated animate__fadeIn animate__slow">
                <h1 class="text-2xl xl:text-4xl font-semibold">Explore Unlimited Resources.</h1>
                <p class="text-base xl:text-lg">Access a large variety of study materials, articles, newsletter, and more with
                    just a click.</p>
            </div>
        
    </section>

    <section>
        <div class="flex flex-col text-center w-full mt-16">
            <h2 class="text-xs xl:text-sm text-purple-500 tracking-widest font-medium title-font mb-1">BROWSE BY</h2>
            <h1 class="sm:text-4xl xl:text-5xl text-3xl  title-font text-purple-800">trending topics</h1>
        </div>
        <div class="container py-24 text-sm xl:text-lg mx-auto">
            <div class="flex flex-wrap xl:px-10">
              <div class=" p-8 md:w-1/2 flex flex-col items-start">
                <span class="inline-block py-1 px-2 rounded bg-purple-400 text-white text-xs font-medium tracking-widest">QUANTUM PHYSICS</span>
                <h2 class="sm:text-3xl text-2xl title-font font-medium text-gray-900 mt-4 mb-4">Unleashing the quantum revolution: empowering communicative technology</h2>
                <p class="leading-relaxed mb-8">The emergence of quantum computing has paved the way for a revolutionary shift in communicative technology. With its unrivaled computational power and the ability to solve complex problems, quantum computing holds the potential to transform cryptography, communication networks, and various other fields. Embracing the strange and fascinating principles of quantum mechanics, this cutting-edge technology unlocks new possibilities and propels us into a future where communication reaches unprecedented levels of efficiency and security.</p>
                <div class="flex items-center flex-wrap pb-4 mb-4 border-b-2 border-gray-100 mt-auto w-full">
                  <a class="text-purple-500 inline-flex items-center">Learn More
                    <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                      <path d="M5 12h14"></path>
                      <path d="M12 5l7 7-7 7"></path>
                    </svg>
                  </a>
                  <span class="text-purple-700 mr-3 inline-flex items-center ml-auto leading-none text-sm pr-3 py-1 border-r-2 border-gray-200">
                    <svg class="w-4 h-4 mr-1" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24">
                      <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path>
                      <circle cx="12" cy="12" r="3"></circle>
                    </svg>1.2K
                  </span>
                  <span class="text-purple-700 inline-flex items-center leading-none text-sm">
                    <svg class="w-4 h-4 mr-1" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24">
                      <path d="M21 11.5a8.38 8.38 0 01-.9 3.8 8.5 8.5 0 01-7.6 4.7 8.38 8.38 0 01-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 01-.9-3.8 8.5 8.5 0 014.7-7.6 8.38 8.38 0 013.8-.9h.5a8.48 8.48 0 018 8v.5z"></path>
                    </svg>6
                  </span>
                </div>
                <a class="inline-flex items-center">
                  <img alt="blog" src="/static/rp1.jpeg" class="w-12 h-12 rounded-full flex-shrink-0 object-cover object-center">
                  <span class="flex-grow flex flex-col pl-4">
                    <span class="title-font font-medium text-gray-900">Jake Bredly</span>
                    <span class="text-gray-400 text-xs tracking-widest mt-0.5">RESEARCHER</span>
                  </span>
                </a>
              </div>
              <div class=" p-8 md:w-1/2 flex flex-col items-start">
                <span class="inline-block py-1 px-2 rounded bg-purple-400 text-white text-xs font-medium tracking-widest">TECH</span>
                <h2 class="sm:text-3xl text-2xl title-font font-medium text-gray-900 mt-4 mb-4">New technologies are really wavering their way up the industry charts.</h2>
                <p class="leading-relaxed mb-8">Tech like AI enables machines to simulate human intelligence, while ML empowers them to learn and improve from data. Data Science extracts valuable insights from vast datasets. Together, these fields drive innovation, enabling autonomous systems, predictive analytics, and personalized experiences. With AI, ML, and Data Science at the forefront, we are poised to unlock the true potential of technology, revolutionizing everything from healthcare to transportation, and beyond. The possibilities are limitless, and the future is brimming with possibilities as we navigate this exciting realm of intelligent technologies.</p>
                <div class="flex items-center flex-wrap pb-4 mb-4 border-b-2 border-gray-100 mt-auto w-full">
                  <a class="text-purple-500 inline-flex items-center">Learn More
                    <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                      <path d="M5 12h14"></path>
                      <path d="M12 5l7 7-7 7"></path>
                    </svg>
                  </a>
                  <span class="text-purple-700 mr-3 inline-flex items-center ml-auto leading-none text-sm pr-3 py-1 border-r-2 border-gray-200">
                    <svg class="w-4 h-4 mr-1" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24">
                      <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path>
                      <circle cx="12" cy="12" r="3"></circle>
                    </svg>1.2K
                  </span>
                  <span class="text-purple-700 inline-flex items-center leading-none text-sm">
                    <svg class="w-4 h-4 mr-1" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24">
                      <path d="M21 11.5a8.38 8.38 0 01-.9 3.8 8.5 8.5 0 01-7.6 4.7 8.38 8.38 0 01-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 01-.9-3.8 8.5 8.5 0 014.7-7.6 8.38 8.38 0 013.8-.9h.5a8.48 8.48 0 018 8v.5z"></path>
                    </svg>6
                  </span>
                </div>
                <a class="inline-flex items-center">
                  <img alt="blog" src="/static/rp2.jpeg" class="w-12 h-12 rounded-full flex-shrink-0 object-cover object-center">
                  <span class="flex-grow flex flex-col pl-4">
                    <span class="title-font font-medium text-gray-900">Srijit Chakraborty</span>
                    <span class="text-gray-400 text-xs tracking-widest mt-0.5">DEVELOPER</span>
                  </span>
                </a>
              </div>
              <div class=" p-8 md:w-1/2 flex flex-col items-start">
                <span class="inline-block py-1 px-2 rounded bg-purple-400 text-white text-xs font-medium tracking-widest">GEOPOLITICS</span>
                <h2 class="sm:text-3xl text-2xl title-font font-medium text-gray-900 mt-4 mb-4">Navigating the geopolitical landscape: Understanding power dynamics and global interactions</h2>
                <p class="leading-relaxed mb-8">In a world where nations compete for resources, influence, and security, understanding geopolitics becomes crucial. It involves analyzing factors such as borders, resources, military capabilities, and diplomatic relations to comprehend global power dynamics. Geopolitical shifts impact trade, alliances, conflicts, and the balance of power on a global scale. By delving into the intricacies of geopolitics, we gain insights into the forces shaping our world, enabling us to make informed decisions, anticipate geopolitical trends, and foster stability and cooperation among nations.</p>
                <div class="flex items-center flex-wrap pb-4 mb-4 border-b-2 border-gray-100 mt-auto w-full">
                  <a class="text-purple-500 inline-flex items-center">Learn More
                    <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                      <path d="M5 12h14"></path>
                      <path d="M12 5l7 7-7 7"></path>
                    </svg>
                  </a>
                  <span class="text-purple-700 mr-3 inline-flex items-center ml-auto leading-none text-sm pr-3 py-1 border-r-2 border-gray-200">
                    <svg class="w-4 h-4 mr-1" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24">
                      <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path>
                      <circle cx="12" cy="12" r="3"></circle>
                    </svg>1.2K
                  </span>
                  <span class="text-purple-700 inline-flex items-center leading-none text-sm">
                    <svg class="w-4 h-4 mr-1" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24">
                      <path d="M21 11.5a8.38 8.38 0 01-.9 3.8 8.5 8.5 0 01-7.6 4.7 8.38 8.38 0 01-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 01-.9-3.8 8.5 8.5 0 014.7-7.6 8.38 8.38 0 013.8-.9h.5a8.48 8.48 0 018 8v.5z"></path>
                    </svg>6
                  </span>
                </div>
                <a class="inline-flex items-center">
                  <img alt="blog" src="/static/rp3.jpeg" class="w-12 h-12 rounded-full flex-shrink-0 object-cover object-center">
                  <span class="flex-grow flex flex-col pl-4">
                    <span class="title-font font-medium text-gray-900">Richard P.</span>
                    <span class="text-gray-400 text-xs tracking-widest mt-0.5">JOURNALIST</span>
                  </span>
                </a>
              </div>
              <div class=" p-8 md:w-1/2 flex flex-col items-start">
                <span class="inline-block py-1 px-2 rounded bg-purple-400 text-white text-xs font-medium tracking-widest">CHEMISTRY</span>
                <h2 class="sm:text-3xl text-2xl title-font font-medium text-gray-900 mt-4 mb-4">Scientists say graphene research poised to change the world with revolutionary potential</h2>
                <p class="leading-relaxed mb-8">This remarkable material boasts extraordinary properties, including exceptional strength, high conductivity, and remarkable flexibility. Graphene holds immense potential for various applications, from electronics and energy storage to biomedical devices and environmental solutions. Its remarkable properties enable advancements in fields such as flexible electronics, ultra-fast transistors, lightweight composites, and even clean energy technologies. As researchers continue to explore the vast possibilities of graphene, we stand on the brink of a new era, where this wonder material could revolutionize countless industries and pave the way for innovative technologies that shape the future.</p>
                <div class="flex items-center flex-wrap pb-4 mb-4 border-b-2 border-gray-100 mt-auto w-full">
                  <a class="text-purple-500 inline-flex items-center">Learn More
                    <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                      <path d="M5 12h14"></path>
                      <path d="M12 5l7 7-7 7"></path>
                    </svg>
                  </a>
                  <span class="text-purple-700 mr-3 inline-flex items-center ml-auto leading-none text-sm pr-3 py-1 border-r-2 border-gray-200">
                    <svg class="w-4 h-4 mr-1" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24">
                      <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path>
                      <circle cx="12" cy="12" r="3"></circle>
                    </svg>1.2K
                  </span>
                  <span class="text-purple-700 inline-flex items-center leading-none text-sm">
                    <svg class="w-4 h-4 mr-1" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24">
                      <path d="M21 11.5a8.38 8.38 0 01-.9 3.8 8.5 8.5 0 01-7.6 4.7 8.38 8.38 0 01-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 01-.9-3.8 8.5 8.5 0 014.7-7.6 8.38 8.38 0 013.8-.9h.5a8.48 8.48 0 018 8v.5z"></path>
                    </svg>6
                  </span>
                </div>
                <a class="inline-flex items-center">
                  <img alt="blog" src="/static/rp4.jpeg" class="w-12 h-12 rounded-full flex-shrink-0 object-cover object-center">
                  <span class="flex-grow flex flex-col pl-4">
                    <span class="title-font font-medium text-gray-900">Holfmann Kaiser</span>
                    <span class="text-gray-400 text-xs tracking-widest mt-0.5">RESEARCHER</span>
                  </span>
                </a>
              </div>
            </div>
          </div>
    </section>

    <section class="bg-gradient-to-r from-violet-500 to-fuchsia-500 text-white">
        <div class="flex flex-col text-center w-full pt-16 ">
            <h2 class="text-xs xl:text-sm tracking-widest font-medium title-font mb-1">EXPLORE</h2>
            <h1 class="sm:text-4xl xl:text-5xl text-3xl  title-font ">latest articles</h1>
        </div>
        <div class="container px-5 py-24 mx-auto">
            <div class="-my-8 divide-y-2 divide-gray-100">
              <div class="py-8 flex flex-wrap md:flex-nowrap">
                <div class="md:w-64 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
                  <span class="inline-block py-1 px-2 rounded text-purple-500 bg-white text-xs font-medium tracking-widest w-fit">MUSIC</span>
                  <span class="mt-2  text-sm">12 Jun 2023</span>
                </div>
                <div class="md:flex-grow">
                  <h2 class="text-2xl font-medium  title-font mb-2">Innovation strikes a chord: new instruments revolutionizing the music industry</h2>
                  <p class="leading-relaxed">From cutting-edge digital synthesizers and MIDI controllers to futuristic hybrid instruments, musicians are exploring new sonic landscapes and redefining traditional genres. These innovative instruments offer enhanced capabilities, seamless integration with digital production tools, and unprecedented levels of customization.</p>
                  <a class=" inline-flex items-center mt-4">Learn More
                    <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                      <path d="M5 12h14"></path>
                      <path d="M12 5l7 7-7 7"></path>
                    </svg>
                  </a>
                </div>
              </div>
              <div class="py-8 flex flex-wrap md:flex-nowrap">
                <div class="md:w-64 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
                  <span class="inline-block py-1 px-2 rounded text-purple-500 w-fit bg-white text-xs font-medium tracking-widest">GEOGRAPHY</span>
                  <span class="mt-2  text-sm">09 Jun 2023</span>
                </div>
                <div class="md:flex-grow">
                  <h2 class="text-2xl font-medium  title-font mb-2">Addressing the urgency: taking action against climate change</h2>
                  <p class="leading-relaxed">Governments, organizations, and individuals must come together to foster sustainable practices, support renewable initiatives, and prioritize conservation efforts. By embracing a collective responsibility and implementing impactful strategies, we can safeguard our planet and create a sustainable future for generations to come.</p>
                  <a class="0 inline-flex items-center mt-4">Learn More
                    <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                      <path d="M5 12h14"></path>
                      <path d="M12 5l7 7-7 7"></path>
                    </svg>
                  </a>
                </div>
              </div>
              <div class="py-8 flex flex-wrap md:flex-nowrap">
                <div class="md:w-64 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
                  <span class="inline-block py-1 w-fit px-2 rounded text-purple-500 bg-white text-xs font-medium tracking-widest">TECH</span>
                  <span class="text-sm mt-2">31 MAY 2023</span>
                </div>
                <div class="md:flex-grow">
                  <h2 class="text-2xl font-medium  title-font mb-2">Embracing the future: upcoming technologies set to reshape our world</h2>
                  <p class="leading-relaxed">Advancements in virtual and augmented reality, Internet of Things (IoT), and renewable energy solutions are reshaping the way we live, work, and interact. As we stand on the cusp of a technological revolution, embracing these upcoming technologies holds the key to a brighter, more connected, and sustainable future. Get ready to embrace the possibilities and embark on a transformative journey into the world of tomorrow.</p>
                  <a class=" inline-flex items-center mt-4">Learn More
                    <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                      <path d="M5 12h14"></path>
                      <path d="M12 5l7 7-7 7"></path>
                    </svg>
                  </a>
                </div>
              </div>
              <div class="py-8 flex flex-wrap md:flex-nowrap">
                <div class="md:w-64 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
                  <span class="inline-block py-1 px-2 rounded text-purple-500 w-fit bg-white text-xs font-medium tracking-widest">LAW</span>
                  <span class="mt-2  text-sm">12 Apr 2023</span>
                </div>
                <div class="md:flex-grow">
                  <h2 class="text-2xl font-medium  title-font mb-2">Navigating the legal arena: unraveling the intricacies of a landmark lawsuit case</h2>
                  <p class="leading-relaxed">With high stakes, complex arguments, and far-reaching implications, this landmark case navigates uncharted territory. From the courtroom battles to the intricate legal strategies employed, the case delves into the heart of legal principles and societal debates.</p>
                  <a class="0 inline-flex items-center mt-4">Learn More
                    <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                      <path d="M5 12h14"></path>
                      <path d="M12 5l7 7-7 7"></path>
                    </svg>
                  </a>
                </div>
              </div>
              <div class="py-8 flex flex-wrap md:flex-nowrap">
                <div class="md:w-64 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
                  <span class="inline-block py-1 w-fit px-2 rounded text-purple-500 bg-white text-xs font-medium tracking-widest">ENTERTAINMENT</span>
                  <span class="text-sm mt-2">03 Apr 2023</span>
                </div>
                <div class="md:flex-grow">
                  <h2 class="text-2xl font-medium  title-font mb-2">Woah, that was a rollercoaster of a movie</h2>
                  <p class="leading-relaxed">With a perfect blend of action, heart, and pure hilarity, this is one thunderstorm you won't want to miss! So grab your popcorn, summon your laughter, and brace yourself for a cosmic comedy of godly proportions! Prepare for a wild ride as Thor's thunderous muscles clash with uproarious antics, leaving us rolling in the aisles with laughter.</p>
                  <a class=" inline-flex items-center mt-4">Learn More
                    <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                      <path d="M5 12h14"></path>
                      <path d="M12 5l7 7-7 7"></path>
                    </svg>
                  </a>
                </div>
              </div>
            </div>
          </div>
    </section>

    <section class="text-gray-600 body-font">
        <div class="container px-8 py-24 mx-auto">
          <div class="flex flex-wrap w-full mb-20 px-4">
            <div class="lg:w-1/2 w-full mb-6 lg:mb-0">
              <h2 class="text-xs xl:text-sm tracking-widest text-purple-600 font-medium title-font mb-1">PRO</h2>
              <h1 class="sm:text-3xl text-2xl font-medium title-font mb-3 text-gray-900">Explore The Notes Dungeon</h1>
              <div class="h-0.5 w-32 bg-purple-400 rounded"></div>
            </div>
            <p class="lg:w-1/2 w-full leading-relaxed text-gray-500">Immerse yourself in the timeless artistry of meticulously handwritten and typed notes, carefully crafted by scholarly minds hailing from revered institutions across the globe. Journey through the corridors of academia and discover an unparalleled collection of premium study materials, a testament to the scholarly prowess of Athena herself. Embrace the ancient Greek spirit of learning and let the "Notes Dungeon" be your gateway to enlightenment.</p>
          </div>

          <div class="flex flex-wrap -m-4">
            <div class="lg:w-1/4 md:w-1/2 p-4 ">
              <div class="border-purple-500 border-r-2 border-b-2 p-6 rounded-lg hover:border-0">
                <img class="h-40 rounded w-full object-cover object-center mb-6" src="/static/note1.jpeg" alt="content">
                <h3 class="tracking-widest text-purple-500 text-xs font-medium title-font">STANFORD UNIVERSITY</h3>
                <h2 class="text-lg text-gray-900 font-medium title-font mb-4">Upcoming Trends in speech</h2>
                <p class="leading-relaxed text-base lg:text-sm xl:text-lg">My notes on tech seminar by Google CEO, Sundar Pichai, on December 2022.</p>
              </div>
            </div>
            <div class="lg:w-1/4 md:w-1/2 p-4">
              <div class="border-purple-500 border-r-2 border-b-2 p-6 rounded-lg hover:border-0">
                <img class="h-40 rounded w-full object-cover object-center mb-6" src="/static/note2.jpeg" alt="content">
                <h3 class="tracking-widest text-purple-500 text-xs font-medium title-font">HARVARD BUSINESS SCHOOL</h3>
                <h2 class="text-lg text-gray-900 font-medium title-font mb-4">Employee Transcript - Mr. Xaviers</h2>
                <p class="leading-relaxed text-base lg:text-sm xl:text-lg">Got to know about hr values and work, by Prof. Xaviers. Hope it helps you too. Enjoy</p>
              </div>
            </div>
            <div class="lg:w-1/4 md:w-1/2 p-4">
                <div class="border-purple-500 border-r-2 border-b-2 p-6 rounded-lg hover:border-0">
                  <img class="h-40 rounded w-full object-cover object-center mb-6" src="/static/note4.jpeg" alt="content">
                  <h3 class="tracking-widest text-purple-500 text-xs font-medium title-font">IISC BANGALORE</h3>
                  <h2 class="text-lg text-gray-900 font-medium title-font mb-4">Diffraction: Rajiv sir</h2>
                  <p class="leading-relaxed text-base lg:text-sm xl:text-lg">This discusses all about Diffraction and its principles. Sorry for the bad handwriting :p</p>
                </div>
            </div>
            <div class="lg:w-1/4 md:w-1/2 p-4">
                <div class="border-purple-500 border-r-2 border-b-2 p-6 rounded-lg hover:border-0">
                  <img class="h-40 rounded w-full object-cover object-center mb-6" src="/static/note4.jpeg" alt="content">
                  <h3 class="tracking-widest text-purple-500 text-xs font-medium title-font">UNIVERSITY OF FRANKFURT</h3>
                  <h2 class="text-lg text-gray-900 font-medium title-font mb-4">Seminar notes</h2>
                  <p class="leading-relaxed text-base lg:text-sm xl:text-lg">notes on anthropology seminar that happened in my uni, during the fall semester.</p>
                </div>
            </div>
            <div class="lg:w-1/4 md:w-1/2 p-4">
                <div class="border-purple-500 border-r-2 border-b-2 p-6 rounded-lg hover:border-0">
                  <img class="h-40 rounded w-full object-cover object-center mb-6" src="/static/note4.jpeg" alt="content">
                  <h3 class="tracking-widest text-purple-500 text-xs font-medium title-font">OXFORD SCHOOL OF ARTS</h3>
                  <h2 class="text-lg text-gray-900 font-medium title-font mb-4">The sound of Music</h2>
                  <p class="leading-relaxed text-base lg:text-sm xl:text-lg">Handwritten notes on the different staches of music, includes pre-renaissance era as well. Enjoy :)</p>
                </div>
            </div>
            <div class="lg:w-1/4 md:w-1/2 p-4">
              <div class="border-purple-500 border-r-2 border-b-2 p-6 rounded-lg hover:border-0">
                <img class="h-40 rounded w-full object-cover object-center mb-6" src="/static/note4.jpeg" alt="content">
                <h3 class="tracking-widest text-purple-500 text-xs font-medium title-font">IIM CALCUTTA</h3>
                <h2 class="text-lg text-gray-900 font-medium title-font mb-4">Interview Tips by Sachin sir</h2>
                <p class="leading-relaxed text-base lg:text-sm xl:text-lg">Noted these tips while attending renowned Mr. Sachin Rastogi's class at my college.</p>
              </div>
            </div>
            <div class="lg:w-1/4 md:w-1/2 p-4">
                <div class="border-purple-500 border-r-2 border-b-2 p-6 rounded-lg hover:border-0">
                  <img class="h-40 rounded w-full object-cover object-center mb-6" src="/static/note4.jpeg" alt="content">
                  <h3 class="tracking-widest text-purple-500 text-xs font-medium title-font">NATIONAL UNIVERSITY OF SINGAPORE</h3>
                  <h2 class="text-lg text-gray-900 font-medium title-font mb-4">Configuring NodeJS</h2>
                  <p class="leading-relaxed text-base lg:text-sm xl:text-lg">My personal approach on configuring noteJS on windows, Mac, Linux</p>
                </div>
            </div>
            <div class="lg:w-1/4 md:w-1/2 p-4 ">
                <div class="border-purple-500 border-r-2 border-b-2 p-6 rounded-lg hover:border-0">
                  <img class="h-40 rounded w-full object-cover object-center mb-6" src="/static/note4.jpeg" alt="content">
                  <h3 class="tracking-widest text-purple-500 text-xs font-medium title-font">IEM KOLKATA</h3>
                  <h2 class="text-lg text-gray-900 font-medium title-font mb-4">All about Torsion</h2>
                  <p class="leading-relaxed text-base lg:text-sm xl:text-lg">Handwritten notes about torsion, as taught on the summer classes by gc sir</p>
                </div>
            </div>
          </div>
          <div class="text-purple-800 text-lg lg:text-base xl:text-lg mt-16 flex justify-center">
            <a href="/notes" class="border-purple-500 border-2 px-14 md:px-20 py-4 lg:py-2 xl:py-3 rounded-full hover:bg-purple-500 hover:text-white">Explore</a>
          </div>
        </div>
    </section>

    <section class="bg-gradient-to-r from-violet-500 to-fuchsia-500 text-white py-24 xl:pt-36">
        <div class="flex flex-col md:items-center lg:flex-row lg:justify-between lg:px-12">
            <div class="flex">
                <img src="/static/chat2.svg" class=" hidden overflow-auto lg:block lg:blur-sm xl:blur-md">
            </div>
            
            <div class="space-y-6 w-auto flex flex-col items-center text-center px-4 md:text-center  lg:text-right lg:items-end">
                <h1 class="text-2xl lg:font-semibold xl:text-4xl font-semibold">Get certified from top companies</h1>
                <p class="text-base lg:text-sm xl:text-lg">Explore a wide variety of courses and enhance your career growth.</p>
                <a href="/courses" class="border-white border-2 w-fit px-16 py-2 rounded-full xl:text-lg hover:border-0 hover:border-r-2 hover:border-b-2 active:border-0">Go to courses</a>
            </div>
        </div>
    
    </section>


{% endblock body %}