{% extends 'base.html' %}
{% block title %}Support{% endblock title %}

{% block body %}

<section class="bg-white text-purple-600 text-center py-24 px-9 md:py-36 xl:py-48">
    <div class="space-y-4 flex flex-col justify-center mx-auto animate__animated animate__fadeIn animate__slow">
        <h1 class="text-2xl xl:text-5xl font-semibold">Thank You!</h1>
        <p class="text-base mx-auto w-1/2 xl:text-xl">Your query has been recieved, and our team will reply you soon. Do keep in mind that there are tons of other queries as well. So, please be patient. In the meantime, explore stuff, or maybe have some  chips :)</p>
    </div>
    <div class="text-purple-800 text-lg lg:text-base xl:text-lg mt-16 flex justify-center">
        <a href="/" class="border-purple-500 border-2 px-10 text-sm md:px-20 py-2 lg:py-2 xl:py-3 rounded-full hover:bg-purple-500 hover:text-white">Back to home</a>
      </div>   
</section>
  
{% endblock body %}